<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Join the {{ env('COMMUNITY_NAME') }} in Slack today</title>
    <link href="https://unpkg.com/tailwindcss@1.0.4/dist/tailwind.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800"
          rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body class="flex items-center justify-center mt-20" style="background: #edf2f7;">
{% block body %}{% endblock %}
</body>
</html>


